{# overrides/main.html #}
{% extends "base.html" %}

{% block announce %}

Follow Yanxu Chen: <strong>@DerrickMarcus</strong> on
<a href="https://github.com/DerrickMarcus">
    <span class="twemoji github">
        {% include ".icons/fontawesome/brands/github.svg" %}
    </span>
    <strong>Github</strong>
</a>
and <strong>@64光年外</strong> on
<a rel="me" href="https://space.bilibili.com/627449965">
    <span class="twemoji bilibili">
        {% include ".icons/fontawesome/brands/bilibili.svg" %}
    </span>
    <strong>Bilibili</strong>
</a>

{% endblock %}