/* 图像圆角阴影 */
img:not([src$=".svg"]) {
    border-radius: 5pt;
    box-shadow: var(--md-shadow-z2);
}

/* 代码块最大高行 */
div.highlight {
    max-height: 30rem;
    overflow-y: auto;
}

/* Set content width */
.md-grid {
    max-width: 1920px;
}

/* 所有 Markdown 图片自动居中 */
.md-typeset img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 表格宽度铺满、内容居中、字体适中 */
.md-typeset__table table {
    display: table !important;
    margin: 1rem auto !important;
    width: auto;
    max-width: 100%;
    table-layout: auto;
}