:root {
    --md-font-family: "LXGW WenKai GB Screen", "Noto Serif SC", sans-serif !important;
    --md-font-code-family: "Fira Code", "Noto Sans SC", monospace !important;
}

html {
    font-size: 125%;
}